/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Grid de productos */
.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}


/* Tarjeta de producto */
.producto-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.producto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Título del producto */
.producto-card h2 {
    color: #6930c3;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Texto del producto */
.producto-card p {
    color: #6c757d;
    margin-bottom: 10px;
}

/* Enlace Ver Carrito */
a.ver-carrito {
    width: fit-content;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

a.ver-carrito:hover {
    background-color: #218838;
}

/* Mensajes de alerta */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn{
    width: fit-content;
}

.btn-agregar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6930c3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #333533;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    color: white;
}
