{% extends 'base.html' %}

{% block content %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/productos_list.css' %}">
</head>
<div class="container">
    <h1>Editar Producto</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'prodadmin' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}

