{% extends 'base.html' %}

{% block content %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/productos_list.css' %}">
</head>

<div class="container">
    <h1>Eliminar Producto</h1>
    <p>¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'prodadmin' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}

