{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{% static 'css/productos_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Productos</h1>
        {% if mensaje %}
            <div class="alert success">
                {{ mensaje }}
            </div>
        {% endif %}
        <a href="{% url 'ver_carrito' %}" class="ver-carrito">Ver Carrito</a>
        <div class="productos-grid">
            {% for producto in productos %}
                <div class="producto-card">
                    <h2>{{ producto.nombre }}</h2>
                    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                    <p><strong>Precio:</strong> {{ producto.precio }}$</p>
                    <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
                    <p><strong>Stock:</strong> {{ producto.stock.cantidad }}</p>
                    <form action="{% url 'agregar_al_carrito' producto.id %}" method="post">
                        {% csrf_token %}
                        {{ form.cantidad }}
                        <button type="submit" class="btn btn-agregar">Agregar al Carrito</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</html>

{% endblock %}
